.cru-product-collection {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 0px 5% 100px;
}

.cru-product-item {
    width: calc(25% - 75px);
    padding: 35px;
    background-color: #e2e2e2;
    margin-right: 25px;
    margin-bottom: 25px;
}

p.product-title {
    display: block;
    font-size: 18px;
}

p.product-price {
    font-size: 15px;
}

img.product-image {
    display: block;
    margin: 0 auto;
    max-width: 346px;
    width: 100%;
}

.quantity-wrapper {
    display: flex;
    gap: 2px;
    width: 60%;
}

.cru-product-item input.quantity-input {
    max-width: 45px;
    padding: 10px;
    -moz-appearance: textfield;
    text-align: center;
    border: 0;
    border-bottom: 1px solid;
    font-size: 15px;
}

.cru-product-item input.quantity-input::-webkit-outer-spin-button, .cru-product-item input.quantity-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    width: 0;
}

.quantity-wrapper button.qty-btn {
    background: transparent;
    border: 1px solid;
    border-radius: 50px;
    padding: 10px 15px;
}

.ajax-add-to-cart {
    display: flex;
    margin-top: 30px;
}

.add-to-cart-wrapper {
    width: 40%;
    display: flex;
    justify-content: end;
}

.add-to-cart-wrapper button.add-to-cart-button {
    background: transparent;
    border: 0;
    font-size: 18px;
    border-bottom: 1px dotted;
    padding: 0 5px;
}

.pagination {
    width: 100%;
    text-align: center;
    font-size: 15px;
    margin-top: 50px;
}

.shop_filter {
    max-width: 90%;
    margin: 0 auto;
}

.shop_filter ul {
    list-style: none;
    display: inline-block;
    padding: 0;
    justify-content: center;
    margin: 0!important;
}

h2.filter-title {
    display: inline-block;
    vertical-align: middle;
}

.shop_filter ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px!important;
    font-size: 18px;
    border-bottom: 1px dotted;
}

.filter_mobile {
    display: none;
}

.product_awards {
    position: absolute;
}

p.award {
    background-color: #000;
    color: #fff;
    border-radius: 50px;
    padding: 19px 17px;
    text-align: center;
    line-height: 1;
    font-size: 15px;
    position: relative;
    margin: 0;
}

span.type {
    display: block;
}

.award_accolade:not(:first-child) {
    margin-top: -10px;
}

img.badge {
    max-width: 68px;
    position: relative;
}